.box {
  width: 300px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
}

.orange {
  background-color: orange;
}

.blue {
  background-color: blue;
}